<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StrategyRankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.entity.StrategyRank">
        <id column="id" property="id" />
        <result column="dest_id" property="destId" />
        <result column="dest_name" property="destName" />
        <result column="strategy_id" property="strategyId" />
        <result column="strategy_title" property="strategyTitle" />
        <result column="type" property="type" />
        <result column="statis_time" property="statisTime" />
        <result column="statisnum" property="statisnum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dest_id, dest_name, strategy_id, strategy_title, type, statis_time, statisnum
    </sql>

</mapper>
